.giphy-search {

  button:hover {
    cursor: pointer;
  }

  &__search-field {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &--input {
      padding: 16px;
    }

    &--icon {
      // just to give it a bit of that giphy branding
      background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 51px;
      cursor: pointer;

      span {
        position: absolute;
        right: 5px;
        top: 8px;

        svg {
          stroke: white;
          height: 36px;
          width: 36px;
        }
      }
    }
  }

  .search-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: black;
  
    .image__wrapper {
      min-width: 300px;
      max-height: 300px;
      flex: 1;
      padding: 5px;
      
      img {
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__load-more {
    width: 100%;
    padding: 16px;
    margin: auto;
    display: block;
  }

  &__loading-placeholder {
    flex-basis: 100%;
    color: white;
    text-align: center;

    svg {
      animation: rotate 1.2s linear infinite;
      font-size: 48px;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
